<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Search</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="bookName">Enter a search query:</label>
    <input type="text" id="bookName" name="bookName"/>
    <br>
    <input type="submit" value="Search!">
</form>

    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <span>No books found</span>
        </div>

        <div th:each="book : ${books}">
            <p th:text="${book.getBookName() +', ' + book.getAuthor()+', ' + book.getYearOfProduction()}">book</p>

            <div th:if="${book.getOwner() != null}">
                <span>Book is now at:</span>><span th:text="${book.getOwner().getName()}">Person name</span>
            </div>

            <div th:if="${book.getOwner() == null}">
                <span>Book is free</span>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>