<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getBookName() + ', ' + book.getAuthor()+', ' + book.getYearOfProduction()}">VALUE</p>
<br>
<div th:if="${owner}">
    <span>Книга сейчас у:</span> <span th:text="${owner.getName()}">Person name</span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>

<div th:if="${people}">
    <span>This book is free. Who should assign it ?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Choose Person:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>
<hr>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Update</a>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>